<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop/config" name="GAF" author="SuperMap"
        url="www.supermap.com.cn" description="Develop Plugin">
    <runtime packageName="GAF.jar" pluginClassName="com.supermap.desktop.develop.GAFPlugin" enabled="True" level="5"/>
    <startMenus>
        <startMenuPanel id="GafSetting" index="110" label="CIM" component="com.supermap.desktop.develop.ui.GafSettings" screenTip="" screenTipImage="" visible="true"/>
    </startMenus>
    <ribbons>
        <ribbon id="start" index="0" label="开始" visible="true">
            <group id="gaf" label="CIM" separator="7">
                <button index="0" checkState="true"
                        visible="false" image="../resources/Develop/Develop.svg"
                        label="CIM"
                        customProperty="">
                    <ribbonPopupMenuItem  checkState="false"
                                          label="登录"
                                          visible="true"
                                          onAction="CtrlActionLoginGaf"
                    ></ribbonPopupMenuItem>

                    <ribbonPopupMenuItem  checkState="false"
                                          label="同步工作空间"
                                          visible="true"
                                          onAction="CtrlActionSynchronizeWorkspace"
                                          screenTip="同步工作空间"
                    ></ribbonPopupMenuItem>
                    <ribbonPopupMenuItem  checkState="false"
                                          label="注册工作空间"
                                          visible="true"
                                          onAction="CtrlActionRegistryWorkspace"
                                          screenTip="注册工作空间"
                    ></ribbonPopupMenuItem>
                    <ribbonPopupMenuItem  checkState="false"
                                          label="注销"
                                          visible="true"
                                          onAction="CtrlActionLogoutGaf"
                    ></ribbonPopupMenuItem>
                </button>
            </group>
        </ribbon>
        <ribbon id="view" index="6"  label="视图" visible="true">
            <group id="View" visible="true">
                <checkBox visible="true" label="CIM数据源" checkState="false" index="8"
                 onAction="CtrlActionDatasourceView"/>
            </group>
            <group id="View" visible="true">
                <checkBox visible="true" label="CIM工作空间" checkState="false" index="9"
                          onAction="CtrlActionWorkspaceView"/>
            </group>
        </ribbon>
    </ribbons>
    <dockbars>
        <dockbar title="CIM数据源" id="gafDatasource"
                 visible="false"
                 dockDirection="right"
                 dockState="maximized"
                 component="com.supermap.desktop.develop.ui.GafDatasourceManager"

         />
        <dockbar title="CIM工作空间" id="gafWorkspace"
                 visible="false"
                 dockState="maximized"
                 dockDirection="right"
                 component="com.supermap.desktop.develop.ui.GafWorkspaceManager"

        />

    </dockbars>
    <statusbars>
        <statusbar></statusbar>
    </statusbars>
    <contextMenus>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkspace" index="14" >
            <group id="gafWorkspace" visible="false">
                <button id="gafWorkspaceUpload" visible="true" label="上传到CIM" onAction="CtrlActionUpload"></button>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource" index="14" >
            <group id="gafDatasource" visible="false">
                <button id="gafDatasourceUpload" visible="true" label="上传到CIM" onAction="CtrlActionUpload"></button>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.GafWorkspaceListManager.ContextMenuWorkspace">
            <group id="gafWorkspace" visible="true" >
                <button id="download" visible="true" label="下载到本地" onAction="CtrlActionDownload"></button>
                <button id="share" visible="true" label="分享"  onAction="CtrlActionShare"></button>
                <button id="attribute" visible="true" label="属性"
                        image="../resources/MapEditor/Icon/Edit/Edit/Property.svg"
                        onAction="CtrlActionGafWorkspaceDataProperty"
                ></button>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.GafDatasourceListManager.ContextMenuDatasource">
            <group id="gafDatasource" visible="true" >
                <button id="download" visible="true" label="下载到本地"  onAction="CtrlActionDownload"></button>
                <button id="share" visible="true" label="分享"  onAction="CtrlActionShare"></button>
                <button id="attribute" visible="true" label="属性"
                        image="../resources/MapEditor/Icon/Edit/Edit/Property.svg"
                        onAction="CtrlActionGafDatasourceDataProperty"
                ></button>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.GafDatasourceListManager.ContextMenuDatasourceParent">
            <group id="gafDatasourceParent" visible="true" >
                <button id="registry" visible="true" label="新增数据源"  onAction="CtrlActionDatasourceRegistry"></button>
            </group>
        </contextMenu>
    </contextMenus>
</plugin>
