# 后端


**/target/
**/.classpath
**/.launch
**/.project
**/.settings
**/ivy*
**/eclipse
**/prodDb.*
**/*Db.properties
**/*Db.script
**/stacktrace.log
**/test/reports
/logs/
**/web-app/plugins
**/web-app/WEB-INF/classes
**/out/
**/build/
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon
**/local.properties
**/.classpath
**/.settings/
**/.loadpath
**/.externalToolBuilders/
**/*.launch
**/.cproject
**/.buildpath
**/.project
**/.metadata
**/tmp/**
**/.Spotlight-V100
**/.Trashes
**/!wrapper/*.jar
**/!**/wrapper/*.jar


*.tmp
*.bak
*.swp
*~.nib
*.log
*.log.*
*.releaseBackup
*.launch
*.tmproj
*.war
*.zip
*.zip.sha1
*.iws
*.class
*.jar
*.war
*.ear
*.pydevproject
*.iml
*.ipr
*.iws
**/.idea/

!**/gaf-project/**/*.zip

!.gitignore
!.gitlab-ci.yml
!.gitattributes
!.editorconfig
!.eslintrc
!.travis.yml
*~
._*

**/static
**/gaf-storage/**/node
!**/gaf-storage/**/static
!**/gaf-microservice-api/**/static
!**/gaf-web/**/static
!**/gaf-common-rest/**/static
!obfuscator.jar


# 前端
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/package-lock.json
**/pids
**/*.pid
**/*.seed
**/*.pid.lock
**/lib-cov
**/coverage
**/.nyc_output
**/.grunt
**/bower_components
**/.lock-wscript
**/build/Release
**/node_modules/
**/jspm_packages/
**/typings/
**/.eslintcache
**/.node_repl_history
**/.yarn-integrity
**/.cache
**/.next
**/.nuxt
**/dist
**/.vuepress/dist
**/.serverless
**/sw.*
**/dist.zip

gaf-cloud/gaf-ops/gaf-storage/src/main/frontend/node

.npm
*.tgz

.flattened-pom.xml

