<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.configmgt.dao.ConfigurationDao">

    <resultMap id="ConfigMap" type="com.supermap.gaf.configmgt.commontypes.ConfigProperties">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="pro_key" jdbcType="VARCHAR" property="propertyKey"/>
        <result column="pro_value" jdbcType="VARCHAR" property="propertyValue"/>
        <result column="application" jdbcType="VARCHAR" property="application"/>
        <result column="profile" jdbcType="VARCHAR" property="profile"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
    </resultMap>
    
    <select id="getConfigurations" parameterType="com.supermap.gaf.microservice.ConfigQueryParameter"
            resultMap="ConfigMap">
        SELECT id,tenant_id,application,profile,label,pro_key,pro_value FROM config_properties
        <where>
            <if test="application != null and application !=''">
                application = #{application}
            </if>
            <if test="profilesActive != null and profilesActive !=''">
                AND profile = #{profilesActive}
            </if>
            <if test="label != null and label !=''">
                AND label = #{label}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND tenant_id = #{tenantId}
            </if>
        </where>
        ORDER BY application,pro_key
    </select>
    <insert id="saveConfiguration" parameterType="com.supermap.gaf.configmgt.commontypes.ConfigProperties">
        INSERT INTO config_properties (id,tenant_id,pro_key,pro_value,application,profile,label)
        VALUES (#{id},#{tenantId},#{propertyKey},#{propertyValue},#{application},#{profile},#{label})
    </insert>
    <delete id="deleteConfiguration" parameterType="com.supermap.gaf.configmgt.commontypes.ConfigProperties">
        DELETE FROM config_properties
        WHERE  id = #{id}
    </delete>
    <update id="updateConfiguration" parameterType="com.supermap.gaf.configmgt.commontypes.ConfigProperties">
        UPDATE config_properties SET pro_value = #{propertyValue},pro_key=#{propertyKey}
        WHERE id = #{id}
    </update>
    <select id="getApplicationNames" resultType="list">
        SELECT application FROM config_properties GROUP BY application
    </select>

</mapper>