<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.AuthPostRoleQueryMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.AuthPostRole">
        <result column="post_role_id" jdbcType="VARCHAR" property="postRoleId" />
        <result column="post_id" jdbcType="VARCHAR" property="postId" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="status" jdbcType="BIT" property="status" />
    </resultMap>

    <sql id="Base_Column_List">
        post_role_id,
        post_id,
        role_id,
        created_time,
        created_by,
        updated_time,
        updated_by,
        sort_sn,
        status    </sql>


    <select id="listByPost" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_post_role"
        WHERE status = true and post_id = #{postId}
    </select>


</mapper>