<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.AuthRoleMenuQueryMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.AuthRoleMenu">
        <result column="role_menu_id" jdbcType="VARCHAR" property="roleMenuId" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="resource_menu_id" jdbcType="VARCHAR" property="resourceMenuId" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        role_menu_id,
        role_id,
        resource_menu_id,
        status,
        sort_sn,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by
    </sql>
    <select id="listByRole" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_menu"
        WHERE status = true and role_id = #{roleId}
    </select>

</mapper>