<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.AuthRoleModuleQueryMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.AuthRoleModule">
        <result column="role_module_id" jdbcType="VARCHAR" property="roleModuleId" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="resource_module_id" jdbcType="VARCHAR" property="resourceModuleId" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        role_module_id,
        role_id,
        resource_module_id,
        status,
        sort_sn,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by    </sql>
    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_module"
        WHERE role_module_id = #{roleModuleId}
    </select>
	<select id="pageList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthRoleModuleSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_module"
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
	
	<select id="searchList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthRoleModuleSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_module"
        where status = true
		<if test ='null != searchFieldName'>and ${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%')</if>
		<if test ='null != orderFieldName'>order by ${orderFieldName} ${orderMethod}</if> 
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
	<select id="countOneField" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "auth_role_module"
		<if test ='null != fieldName'>where ${fieldName} LIKE CONCAT('%', #{fieldValue}, '%')</if>
    </select>
    <select id="bigOffsetPageList" resultMap="BaseResultMap">
        SELECT  a.role_module_id, a.role_id, a.resource_module_id, a.status, a.sort_sn, a.description, a.created_time, a.created_by, a.updated_time, a.updated_by        FROM "auth_role_module" a,(
            select role_module_id
            From "auth_role_module" 
            LIMIT #{pageSize} OFFSET #{offset}
            ) b 
        WHERE a.role_module_id = b.role_module_id 
    </select>
    <select id="listRoleModule" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_module"
        WHERE status = true and role_id = #{roleId} and resource_module_id = #{resourceModuleId}
    </select>
    <select id="listByRole" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_role_module"
        WHERE status = true and role_id = #{roleId}
    </select>
    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "auth_role_module"
    </select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="role_module_id" keyProperty="roleModuleId" parameterType="com.supermap.gaf.authority.commontype.AuthRoleModule">
        INSERT INTO "auth_role_module"
        <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test ='null != roleModuleId'>role_module_id,</if>
				<if test ='null != roleId'>role_id,</if>
				<if test ='null != resourceModuleId'>resource_module_id,</if>
				<if test ='null != status'>status,</if>
				<if test ='null != sortSn'>sort_sn,</if>
				<if test ='null != description'>description,</if>
				created_time,
				<if test ='null != createdBy'>created_by,</if>
				updated_time,
				<if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test ='null != roleModuleId'>#{roleModuleId},</if>
				<if test ='null != roleId'>#{roleId},</if>
				<if test ='null != resourceModuleId'>#{resourceModuleId},</if>
				<if test ='null != status'>#{status},</if>
				<if test ='null != sortSn'>#{sortSn},</if>
				<if test ='null != description'>#{description},</if>
				now(),
				<if test ='null != createdBy'>#{createdBy},</if>
				now(),
				<if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
	<insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "auth_role_module"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (  #{item.roleModuleId}  ,  #{item.roleId}  ,  #{item.resourceModuleId}  ,  #{item.status}  ,  #{item.sortSn}  ,  #{item.description}  ,  now()  ,  #{item.createdBy}  ,  now()  ,  #{item.updatedBy}  )
        </foreach>
    </insert>
	<update id="batchDelete" parameterType="java.util.List">
        UPDATE "auth_role_module"
        SET status = false
        WHERE status = true and role_module_id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
	<update id="delete" >
        UPDATE "auth_role_module"
        SET status = false
        WHERE status = true and role_module_id = #{roleModuleId}
    </update>
    <update id="deleteByRoleId" >
        UPDATE "auth_role_module"
        SET status = false
        WHERE status = true and role_id = #{roleId}
    </update>
    <update id="update" parameterType="com.supermap.gaf.authority.commontype.AuthRoleModule">
        UPDATE "auth_role_module"
        <set>
				<if test ='null != roleId'>role_id = #{roleId},</if>				
				<if test ='null != resourceModuleId'>resource_module_id = #{resourceModuleId},</if>				
				<if test ='null != status'>status = #{status},</if>				
				<if test ='null != sortSn'>sort_sn = #{sortSn},</if>				
				<if test ='null != description'>description = #{description},</if>
				updated_time = now(),
				<if test ='null != updatedBy'>updated_by = #{updatedBy},</if>				
        </set>
        WHERE role_module_id = #{roleModuleId}
    </update>

</mapper>