<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.SysComponentQueryMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.SysComponent">
        <result column="sys_component_id" jdbcType="VARCHAR" property="sysComponentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        sys_component_id,
        name,
        name_cn,
        code,
        type,
        status,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by
    </sql>
    <select id="getByComponentName" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.SysComponentSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "sys_component"
        where name = #{componentName}
    </select>
</mapper>