<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.AuthResourceMenuMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.AuthResourceMenu">
        <result column="resource_menu_id" jdbcType="VARCHAR" property="resourceMenuId" />
        <result column="menu_catalog_id" jdbcType="VARCHAR" property="menuCatalogId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="resource_module_id" jdbcType="VARCHAR" property="resourceModuleId" />
        <result column="params" jdbcType="VARCHAR" property="params" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="visible" jdbcType="BIT" property="visible" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        resource_menu_id,
        menu_catalog_id,
        name,
        resource_module_id,
        params,
        icon,
        visible,
        status,
        sort_sn,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by
    </sql>
    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE resource_menu_id = #{resourceMenuId} AND status = true
    </select>
    <select id="selectReal" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE resource_menu_id = #{resourceMenuId}
    </select>
	<select id="pageList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthResourceMenuSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE status = true
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
	
	<select id="searchList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthResourceMenuSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE status = true
		<if test ='null != searchFieldName'> AND ${searchFieldName} = #{searchFieldValue}</if>
		<if test ='null != orderFieldName'>order by ${orderFieldName} ${orderMethod}</if> 
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
	<select id="countOneField" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "auth_resource_menu"
        WHERE status = true
        <if test ='null != fieldName'>AND ${fieldName} = #{fieldValue}</if>
    </select>
    <select id="bigOffsetPageList" resultMap="BaseResultMap">
        SELECT  a.resource_menu_id, a.menu_catalog_id, a.name, a.resource_module_id,a.params, a.icon, a.visible, a.status, a.sort_sn, a.description, a.created_time, a.created_by, a.updated_time, a.updated_by        FROM "auth_resource_menu" a,(
            select resource_menu_id 
            From "auth_resource_menu"
            WHERE status = true
            LIMIT #{pageSize} OFFSET #{offset}
            ) b 
        WHERE a.resource_menu_id = b.resource_menu_id 
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "auth_resource_menu"
        WHERE  status = true
    </select>
    <select id="countByCombination" resultType="java.lang.Integer">
        SELECT count(*)
        FROM "auth_resource_menu"
        WHERE
        <trim suffixOverrides="AND">
            <if test ='null != resourceMenuId'>resource_menu_id = #{resourceMenuId} AND </if>
            <if test ='null != menuCatalogId'>menu_catalog_id = #{menuCatalogId} AND </if>
            <if test ='null != name'>name = #{name} AND </if>
            <if test ='null != resourceModuleId'>resource_module_id = #{resourceModuleId} AND </if>
            <if test ='null != params'>params = #{params} AND </if>
            <if test ='null != icon'>icon = #{icon} AND </if>
            <if test ='null != visible'>visible = #{visible} AND </if>
            <if test ='null != status'>status = #{status} AND </if>
            <if test ='null != sortSn'>sort_sn = #{sortSn} AND </if>
            <if test ='null != description'>description = #{description} AND </if>
            <if test ='null != createdTime'>created_time = #{createdTime} AND </if>
            <if test ='null != createdBy'>created_by = #{createdBy} AND </if>
            <if test ='null != createdBy'>updated_time = #{updatedTime} AND </if>
            <if test ='null != updatedBy'>updated_by = #{updatedBy} AND</if>
        </trim>
    </select>
    <select id="listMenus" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        where status = true
    </select>
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE resource_menu_id IN
        <foreach collection="menuIdList" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectByModuleIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_resource_menu"
        WHERE status = true AND resource_module_id IN
        <foreach collection="moduleIdList" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="resource_menu_id" keyProperty="resourceMenuId" parameterType="com.supermap.gaf.authority.commontype.AuthResourceMenu">
        INSERT INTO "auth_resource_menu"
        <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test ='null != resourceMenuId'>resource_menu_id,</if>
				<if test ='null != menuCatalogId'>menu_catalog_id,</if>
				<if test ='null != name'>name,</if>
				<if test ='null != resourceModuleId'>resource_module_id,</if>
                <if test ='null != params'>params,</if>
				<if test ='null != icon'>icon,</if>
				<if test ='null != visible'>visible,</if>
				<if test ='null != status'>status,</if>
				<if test ='null != sortSn'>sort_sn,</if>
				<if test ='null != description'>description,</if>
				created_time,
				<if test ='null != createdBy'>created_by,</if>
				updated_time,
				<if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test ='null != resourceMenuId'>#{resourceMenuId},</if>
				<if test ='null != menuCatalogId'>#{menuCatalogId},</if>
				<if test ='null != name'>#{name},</if>
				<if test ='null != resourceModuleId'>#{resourceModuleId},</if>
                <if test ='null != params'>#{params},</if>
				<if test ='null != icon'>#{icon},</if>
				<if test ='null != visible'>#{visible},</if>
				<if test ='null != status'>#{status},</if>
				<if test ='null != sortSn'>#{sortSn},</if>
				<if test ='null != description'>#{description},</if>
				now(),
				<if test ='null != createdBy'>#{createdBy},</if>
				now(),
				<if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
	<insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "auth_resource_menu"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (  #{item.resourceMenuId}  ,  #{item.menuCatalogId}  ,  #{item.name}  ,  #{item.resourceModuleId}  ,  #{item.params} ,
             #{item.icon}  ,  #{item.visible}  ,  #{item.status}  ,  #{item.sortSn}  ,  #{item.description}  ,  now()  ,  #{item.createdBy}  ,  now()  ,  #{item.updatedBy}  )
        </foreach>
    </insert>
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM "auth_resource_menu" 
        WHERE resource_menu_id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
	<delete id="delete" >
        UPDATE "auth_resource_menu" SET status = false
        WHERE resource_menu_id = #{resourceMenuId} AND status = true
    </delete>
    <update id="update" parameterType="com.supermap.gaf.authority.commontype.AuthResourceMenu">
        UPDATE "auth_resource_menu"
        <set>
				<if test ='null != menuCatalogId'>menu_catalog_id = #{menuCatalogId},</if>				
				<if test ='null != name'>name = #{name},</if>				
				<if test ='null != resourceModuleId'>resource_module_id = #{resourceModuleId},</if>
                params = #{params},
                <if test ='null != icon'>icon = #{icon},</if>
				<if test ='null != visible'>visible = #{visible},</if>				
				<if test ='null != status'>status = #{status},</if>				
				<if test ='null != sortSn'>sort_sn = #{sortSn},</if>				
				<if test ='null != description'>description = #{description},</if>
				updated_time = now(),
				<if test ='null != updatedBy'>updated_by = #{updatedBy},</if>				
        </set>
        WHERE resource_menu_id = #{resourceMenuId}
    </update>

</mapper>