<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.authority.dao.AuthP3TenantMappingMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.authority.commontype.AuthP3TenantMapping">
        <result column="tenant_mapping_id" jdbcType="VARCHAR" property="tenantMappingId" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="p3_tenant_id" jdbcType="VARCHAR" property="p3TenantId" />
        <result column="p3_component_id" jdbcType="VARCHAR" property="p3ComponentId" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        tenant_mapping_id,
        tenant_id,
        p3_tenant_id,
        p3_component_id,
        status,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by    </sql>
     <insert id="insert" useGeneratedKeys="true" keyColumn="tenant_mapping_id" keyProperty="tenantMappingId" parameterType="com.supermap.gaf.authority.commontype.AuthP3TenantMapping">
        INSERT INTO "auth_p3_tenant_mapping"
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test ='null != tenantMappingId'>tenant_mapping_id,</if>
                <if test ='null != tenantId'>tenant_id,</if>
                <if test ='null != p3TenantId'>p3_tenant_id,</if>
                <if test ='null != p3ComponentId'>p3_component_id,</if>
                <if test ='null != status'>status,</if>
                <if test ='null != description'>description,</if>
                created_time,
                <if test ='null != createdBy'>created_by,</if>
                updated_time,
                <if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test ='null != tenantMappingId'>#{tenantMappingId},</if>
                <if test ='null != tenantId'>#{tenantId},</if>
                <if test ='null != p3TenantId'>#{p3TenantId},</if>
                <if test ='null != p3ComponentId'>#{p3ComponentId},</if>
                <if test ='null != status'>#{status},</if>
                <if test ='null != description'>#{description},</if>
                now(),
                <if test ='null != createdBy'>#{createdBy},</if>
                now(),
                <if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
    <delete id="delete" >
        DELETE FROM "auth_p3_tenant_mapping"
        WHERE tenant_mapping_id = #{tenantMappingId}
    </delete>

    <update id="update" parameterType="com.supermap.gaf.authority.commontype.AuthP3TenantMapping">
        UPDATE "auth_p3_tenant_mapping"
        <set>
                <if test ='null != tenantId'>tenant_id = #{tenantId},</if>
                <if test ='null != p3TenantId'>p3_tenant_id = #{p3TenantId},</if>
                <if test ='null != p3ComponentId'>p3_component_id = #{p3ComponentId},</if>
                <if test ='null != status'>status = #{status},</if>
                <if test ='null != description'>description = #{description},</if>
                updated_time = now(),
                <if test ='null != updatedBy'>updated_by = #{updatedBy},</if>
        </set>
        WHERE tenant_mapping_id = #{tenantMappingId}
    </update>


    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_p3_tenant_mapping"
        WHERE tenant_mapping_id = #{tenantMappingId}
    </select>

    <select id="getByTenantId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_p3_tenant_mapping"
        WHERE tenant_id = #{tenantId} AND p3_component_id = #{p3ComponentId}
    </select>

    <select id="pageList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthP3TenantMappingSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_p3_tenant_mapping"
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
	
	<select id="searchList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.authority.vo.AuthP3TenantMappingSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "auth_p3_tenant_mapping"
		<if test ='null != searchFieldName'>where ${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%')</if>
		<if test ='null != orderFieldName'>order by ${orderFieldName} ${orderMethod}</if> 
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>

    <select id="bigOffsetPageList" resultMap="BaseResultMap">
        SELECT  a.tenant_mapping_id, a.tenant_id, a.p3_tenant_id, a.p3_component_id, a.status, a.description, a.created_time, a.created_by, a.updated_time, a.updated_by        FROM "auth_p3_tenant_mapping" a,(
            select tenant_mapping_id 
            From "auth_p3_tenant_mapping" 
            LIMIT #{pageSize} OFFSET #{offset}
            ) b 
        WHERE a.tenant_mapping_id = b.tenant_mapping_id 
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM "auth_p3_tenant_mapping"
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "auth_p3_tenant_mapping"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.tenantMappingId}, #{item.tenantId}, #{item.p3TenantId}, #{item.p3ComponentId}, #{item.status}, #{item.description}, #{item.createdTime}, #{item.createdBy}, #{item.updatedTime}, #{item.updatedBy})
        </foreach>
    </insert>
    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM "auth_p3_tenant_mapping" 
        WHERE tenant_mapping_id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{tenantMappingId}
        </foreach>
    </delete>

</mapper>