<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.sys.mgt.dao.SysResourceDatasourceQueryMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.sys.mgt.commontype.SysResourceDatasource">
        <result column="datasource_id" jdbcType="VARCHAR" property="datasourceId" />
        <result column="ds_name" jdbcType="VARCHAR" property="dsName" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="addr" jdbcType="VARCHAR" property="addr" />
        <result column="port" jdbcType="INTEGER" property="port" />
        <result column="db_name" jdbcType="VARCHAR" property="dbName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="type_code" jdbcType="VARCHAR" property="typeCode"/>
        <result column="catalog_code" jdbcType="VARCHAR" property="catalogCode"/>
        <result column="region_code" jdbcType="VARCHAR" property="regionCode"/>
        <result column="time_attribute" jdbcType="VARCHAR" property="timeAttribute"/>
        <result column="is_sdx" jdbcType="BIT" property="isSdx"/>
    </resultMap>

    <sql id="Base_Column_List">
        datasource_id,
        ds_name,
        type,
        sort_sn,
        addr,
        port,
        db_name,
        user_name,
        password,
        description,
        status,
        created_time,
        created_by,
        updated_time,
        updated_by,
        tenant_id,
        type_code,
        catalog_code,
        region_code,
        time_attribute,
        is_sdx
    </sql>
    <select id="select" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM "sys_resource_datasource"
        WHERE datasource_id = #{datasourceId} AND status = true
    </select>

</mapper>