<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.webgis.dao.WebgisRoamRouteMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.webgis.entity.WebgisRoamRoute">
        <result column="gis_roam_route_id" jdbcType="VARCHAR" property="gisRoamRouteId" />
        <result column="gis_app_id" jdbcType="VARCHAR" property="gisAppId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="speed" jdbcType="NUMERIC" property="speed" />
        <result column="fpf_path" jdbcType="VARCHAR" property="fpfPath" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        gis_roam_route_id,
        gis_app_id,
        user_id,
        name,
        speed,
        fpf_path,
        description,
        status,
        created_time,
        created_by,
        updated_time,
        updated_by    </sql>
    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "webgis_roam_route"
        WHERE gis_roam_route_id = #{gisRoamRouteId}
    </select>
    <select id="selectList" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM "webgis_roam_route"
        WHERE status = true
        <trim>
            <if test='gisRoamRouteId != null'> AND gis_roam_route_id = #{gisRoamRouteId}</if>
            <if test='gisAppId != null'> AND  gis_app_id = #{gisAppId}</if>
            <if test='userId != null'> AND  user_id = #{userId}</if>
            <if test='name != null'> AND  name = #{name}</if>
            <if test='speed != null'> AND  speed = #{speed}</if>
            <if test='fpfPath != null'> AND  fpf_path = #{fpfPath}</if>
            <if test='description != null'> AND  description = #{description}</if>
            <if test='status != null'> AND  status = #{status}</if>
            <if test='createdTime != null'> AND  created_time = #{createdTime}</if>
            <if test='createdBy != null'> AND  created_by = #{createdBy}</if>
            <if test='updatedTime != null'> AND  updated_time = #{updatedTime}</if>
            <if test='updatedBy != null'> AND  updated_by = #{updatedBy}</if>
            <if test ='null != equalFieldName'> AND ${equalFieldName}
                <choose>
                    <when test="equalFieldValue != null"> = #{equalFieldValue} </when>
                    <otherwise>  is null </otherwise>
                </choose>
            </if>
            <if test ='null != searchFieldName and null != searchFieldValue'> AND ${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%') </if>
        </trim>
        <if test ='null != orderFieldName'>order by ${orderFieldName} <if test ='null != orderMethod'> ${orderMethod}</if></if>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="gis_roam_route_id" keyProperty="gisRoamRouteId" parameterType="com.supermap.gaf.webgis.entity.WebgisRoamRoute">
        INSERT INTO "webgis_roam_route"
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test ='null != gisRoamRouteId'>gis_roam_route_id,</if>
			<if test ='null != gisAppId'>gis_app_id,</if>
			<if test ='null != userId'>user_id,</if>
			<if test ='null != name'>name,</if>
			<if test ='null != speed'>speed,</if>
			<if test ='null != fpfPath'>fpf_path,</if>
			<if test ='null != description'>description,</if>
			status,
			created_time,
			<if test ='null != createdBy'>created_by,</if>
			updated_time,
			<if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test ='null != gisRoamRouteId'>#{gisRoamRouteId},</if>
			<if test ='null != gisAppId'>#{gisAppId},</if>
			<if test ='null != userId'>#{userId},</if>
			<if test ='null != name'>#{name},</if>
			<if test ='null != speed'>#{speed},</if>
			<if test ='null != fpfPath'>#{fpfPath},</if>
			<if test ='null != description'>#{description},</if>
			true,
			now(),
			<if test ='null != createdBy'>#{createdBy},</if>
			now(),
			<if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
	<insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "webgis_roam_route"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (  #{item.gisRoamRouteId}  ,  #{item.gisAppId}  ,  #{item.userId}  ,  #{item.name}  ,  #{item.speed}  ,  #{item.fpfPath}  ,  #{item.description}  ,  true  ,  now()  ,  #{item.createdBy}  ,  now()  ,  #{item.updatedBy}  )
        </foreach>
    </insert>
	<update id="batchDelete" parameterType="java.util.List">
        UPDATE webgis_roam_route SET status = false
        WHERE gis_roam_route_id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
	<update id="delete" >
        UPDATE webgis_roam_route SET status = false
        WHERE gis_roam_route_id = #{gisRoamRouteId}
    </update>
    <update id="update" parameterType="com.supermap.gaf.webgis.entity.WebgisRoamRoute">
        UPDATE "webgis_roam_route"
        <set>
			gis_app_id = #{gisAppId},
			user_id = #{userId},
			<if test ="null != name and '' != name">name = #{name},</if>
			speed = #{speed},
			fpf_path = #{fpfPath},
			description = #{description},
			updated_time = now(),
			updated_by = #{updatedBy},
        </set>
        WHERE gis_roam_route_id = #{gisRoamRouteId}  AND status = true
    </update>

</mapper>