<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.webgis.dao.WebgisServiceAssociationMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.webgis.entity.WebgisServiceAssociation">
        <result column="gis_service_assoc_id" jdbcType="VARCHAR" property="gisServiceAssocId" />
        <result column="gis_service_id" jdbcType="VARCHAR" property="gisServiceId" />
        <result column="gis_data_service_id" jdbcType="VARCHAR" property="gisDataServiceId" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>
    <resultMap id="JoinResultMap" type="com.supermap.gaf.webgis.domain.WebgisServiceDo">
        <result column="gis_service_assoc_id" jdbcType="VARCHAR" property="gisServiceAssocId" />
        <result column="gis_service_id" jdbcType="VARCHAR" property="gisServiceId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
        <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
        <result column="resource_api_id" jdbcType="VARCHAR" property="resourceApiId" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="time_attribute" jdbcType="TIMESTAMP" property="timeAttribute" />
        <result column="more_properties" jdbcType="VARCHAR" property="moreProperties" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        gis_service_assoc_id,
        gis_service_id,
        gis_data_service_id,
        description,
        status,
        created_time,
        created_by,
        updated_time,
        updated_by
    </sql>
    <sql id="Join_Column_List">
        a.gis_service_assoc_id,
        b.gis_service_id,
        b.name,
        b.name_en,
        b.type_code,
        b.resource_api_id,
        b.address,
        b.time_attribute,
        b.more_properties,
        b.description,
        b.status,
        b.created_time,
        b.created_by,
        b.updated_time,
        b.updated_by
    </sql>
    <sql id="Service_Column_List">
        A.gis_service_id,
        A.name,
        A.name_en,
        A.type_code,
        A.resource_api_id,
        A.address,
        A.time_attribute,
        A.more_properties,
        A.description,
        A.status,
        A.created_time,
        A.created_by,
        A.updated_time,
        A.updated_by
    </sql>
    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "webgis_service_association"
        WHERE gis_service_assoc_id = #{gisServiceAssocId}
    </select>
	<select id="selectByOneField" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM "webgis_service_association"
		WHERE status = true
        <if test ='null != searchFieldName and null != searchFieldValue'> AND ${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%')</if>
        <if test ='null != orderFieldName and null != orderMethod'>order by ${orderFieldName} ${orderMethod}</if>
    </select>
	<select id="selectAssociationServices" resultMap="JoinResultMap" >
        SELECT
            <include refid="Join_Column_List" />
        FROM
        "webgis_service_association"
        a INNER JOIN "webgis_service" b ON a.gis_data_service_id = b.gis_service_id AND a.status = true AND b.status = true
        WHERE a.gis_service_id = #{webgisServiceId}
        <if test ='null != vo.typeCode'> AND b.type_code = #{vo.typeCode} </if>
        <if test ='null != vo.searchFieldName and null != vo.searchFieldValue'> AND b.${vo.searchFieldName} LIKE CONCAT('%', #{vo.searchFieldValue}, '%')</if>
        <if test ='null != vo.orderFieldName and null != vo.orderMethod'>order by b.${vo.orderFieldName} ${vo.orderMethod}</if>
    </select>

	<select id="selectUnrelatedServices" resultMap="JoinResultMap" >
        SELECT <include refid="Service_Column_List" />
        FROM
        webgis_service A
        WHERE
        A.gis_service_id NOT IN ( SELECT b.gis_data_service_id FROM webgis_service_association b WHERE b.gis_service_id = #{webgisServiceId} AND status = TRUE )
        AND A.status = TRUE
        <if test ='null != vo.typeCode'> AND A.type_code = #{vo.typeCode} </if>
        <if test ='null != vo.searchFieldName and null != vo.searchFieldValue'> AND A.${vo.searchFieldName} LIKE CONCAT('%', #{vo.searchFieldValue}, '%')</if>
        <if test ='null != vo.orderFieldName and null != vo.orderMethod'>order by A.${vo.orderFieldName} ${vo.orderMethod}</if>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="gis_service_assoc_id" keyProperty="gisServiceAssocId" parameterType="com.supermap.gaf.webgis.entity.WebgisServiceAssociation">
        INSERT INTO "webgis_service_association"
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test ='null != gisServiceAssocId'>gis_service_assoc_id,</if>
			<if test ='null != gisServiceId'>gis_service_id,</if>
			<if test ='null != gisDataServiceId'>gis_data_service_id,</if>
			<if test ='null != description'>description,</if>
			status,
			created_time,
			<if test ='null != createdBy'>created_by,</if>
			updated_time,
			<if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test ='null != gisServiceAssocId'>#{gisServiceAssocId},</if>
			<if test ='null != gisServiceId'>#{gisServiceId},</if>
			<if test ='null != gisDataServiceId'>#{gisDataServiceId},</if>
			<if test ='null != description'>#{description},</if>
			true,
			now(),
			<if test ='null != createdBy'>#{createdBy},</if>
			now(),
			<if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
	<insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "webgis_service_association"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (  #{item.gisServiceAssocId}  ,  #{item.gisServiceId}  ,  #{item.gisDataServiceId}  ,  #{item.description}  ,  true  ,  now()  ,  #{item.createdBy}  ,  now()  ,  #{item.updatedBy}  )
        </foreach>
    </insert>
	<update id="batchDelete" parameterType="java.util.List">
        UPDATE webgis_service_association SET status = false
        WHERE gis_service_assoc_id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
	<update id="delete" >
        UPDATE webgis_service_association SET status = false
        WHERE gis_service_assoc_id = #{gisServiceAssocId}
    </update>
    <update id="update" parameterType="com.supermap.gaf.webgis.entity.WebgisServiceAssociation">
        UPDATE "webgis_service_association"
        <set>
			<if test ="null != gisServiceId and '' != gisServiceId">gis_service_id = #{gisServiceId},</if>				
			<if test ="null != gisDataServiceId and '' != gisDataServiceId">gis_data_service_id = #{gisDataServiceId},</if>				
			description = #{description},
			updated_time = now(),
			updated_by = #{updatedBy},
        </set>
        WHERE gis_service_assoc_id = #{gisServiceAssocId}  AND status = true
    </update>

</mapper>