<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.api.scanner.dao.SwaggerSysCatalogMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.api.scanner.entity.SysCatalog">
        <result column="catalog_id" jdbcType="VARCHAR" property="catalogId" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="sys_component_id" jdbcType="VARCHAR" property="sysComponentId" />
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="biz_type_code" jdbcType="VARCHAR" property="bizTypeCode" />
    </resultMap>

    <resultMap id="TreeResultMap" type="com.supermap.gaf.api.scanner.entity.SysCatalog">
        <result column="catalog_id" jdbcType="VARCHAR" property="catalogId" />
        <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
        <result column="sort_sn" jdbcType="INTEGER" property="sortSn" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="biz_type_code" jdbcType="VARCHAR" property="bizTypeCode" />
    </resultMap>

    <sql id="Base_Column_List">
        catalog_id,
        parent_id,
        sort_sn,
        name,
        type,
        code,
        sys_component_id,
        icon_url,
        description,
        status,
        created_time,
        created_by,
        updated_time,
        updated_by,
        tenant_id,
        biz_type_code
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="catalog_id" keyProperty="catalogId" parameterType="com.supermap.gaf.api.scanner.entity.SysCatalog">
        INSERT INTO "sys_catalog"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != catalogId'>catalog_id,</if>
            <if test ='null != parentId'>parent_id,</if>
            <if test ='null != sortSn'>sort_sn,</if>
            <if test ='null != name'>name,</if>
            <if test ='null != type'>type,</if>
            <if test ='null != code'>code,</if>
            <if test ='null != sysComponentId'>sys_component_id,</if>
            <if test ='null != iconUrl'>icon_url,</if>
            <if test ='null != description'>description,</if>
            <if test ='null != status'>status,</if>
            created_time,
            <if test ='null != createdBy'>created_by,</if>
            updated_time,
            <if test ='null != updatedBy'>updated_by,</if>
            <if test ='null != tenantId'>tenant_id,</if>
            <if test ='null != bizTypeCode'>biz_type_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != catalogId'>#{catalogId},</if>
            <if test ='null != parentId'>#{parentId},</if>
            <if test ='null != sortSn'>#{sortSn},</if>
            <if test ='null != name'>#{name},</if>
            <if test ='null != type'>#{type},</if>
            <if test ='null != code'>#{code},</if>
            <if test ='null != sysComponentId'>#{sysComponentId},</if>
            <if test ='null != iconUrl'>#{iconUrl},</if>
            <if test ='null != description'>#{description},</if>
            <if test ='null != status'>#{status},</if>
            now(),
            <if test ='null != createdBy'>#{createdBy},</if>
            now(),
            <if test ='null != updatedBy'>#{updatedBy},</if>
            <if test ='null != tenantId'>#{tenantId},</if>
            <if test ='null != bizTypeCode'>#{bizTypeCode},</if>
        </trim>
    </insert>
    <select id="selectByIdAndStatus" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_catalog
        WHERE catalog_id=#{id} AND status=#{status}
    </select>
    <select id="selectByCombination" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_catalog
        WHERE
        <trim suffixOverrides="AND">
            <if test ='null != parentId'>parent_id = #{parentId} AND </if>
            <if test ='null != sortSn'>sort_sn = #{sortSn} AND </if>
            <if test ='null != name'>name = #{name} AND </if>
            <if test ='null != type'>type = #{type} AND </if>
            <if test ='null != code'>code = #{code} AND </if>
            <if test ='null != sysComponentId'>sys_component_id = #{sysComponentId} AND </if>
            <if test ='null != iconUrl'>icon_url = #{iconUrl} AND </if>
            <if test ='null != description'>description = #{description} AND </if>
            <if test ='null != status'>status = #{status} AND </if>
            <if test ='null != createdTime'>created_time = #{createdTime} AND </if>
            <if test ='null != createdBy'>created_by = #{createdBy} AND </if>
            <if test ='null != createdBy'>updated_time = #{updatedTime} AND </if>
            <if test ='null != updatedBy'>updated_by = #{updatedBy} AND </if>
            <if test ='null != tenantId'>tenant_id = #{tenantId} AND </if>
            <if test ='null != bizTypeCode'>biz_type_code = #{bizTypeCode} AND </if>
        </trim>
    </select>
    <select id="getByComponentAndType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_catalog
        WHERE sys_component_id = #{componentId} AND type = #{type} AND status = true
    </select>

</mapper>