<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.api.scanner.dao.SwaggerSysComponentMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.api.scanner.entity.SysComponent">
        <result column="sys_component_id" jdbcType="VARCHAR" property="sysComponentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List">
        sys_component_id,
        name,
        name_cn,
        code,
        type,
        status,
        description,
        created_time,
        created_by,
        updated_time,
        updated_by
    </sql>
    <select id="searchWholeMatchList" resultMap="BaseResultMap" parameterType="com.supermap.gaf.api.scanner.entity.SysComponentSelectVo">
        SELECT <include refid="Base_Column_List" />
        FROM "sys_component"
        where name = #{searchFieldValue}
        LIMIT #{pageSize}
        <if test ='null != offset'>OFFSET #{offset}</if>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyColumn="sys_component_id" keyProperty="sysComponentId" parameterType="com.supermap.gaf.api.scanner.entity.SysComponent">
        INSERT INTO "sys_component"
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != sysComponentId'>sys_component_id,</if>
            <if test ='null != name'>name,</if>
            <if test ='null != nameCn'>name_cn,</if>
            <if test ='null != code'>code,</if>
            <if test ='null != type'>type,</if>
            <if test ='null != status'>status,</if>
            <if test ='null != description'>description,</if>
            created_time,
            <if test ='null != createdBy'>created_by,</if>
            updated_time,
            <if test ='null != updatedBy'>updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != sysComponentId'>#{sysComponentId},</if>
            <if test ='null != name'>#{name},</if>
            <if test ='null != nameCn'>#{nameCn},</if>
            <if test ='null != code'>#{code},</if>
            <if test ='null != type'>#{type},</if>
            <if test ='null != status'>#{status},</if>
            <if test ='null != description'>#{description},</if>
            now(),
            <if test ='null != createdBy'>#{createdBy},</if>
            now(),
            <if test ='null != updatedBy'>#{updatedBy},</if>
        </trim>
    </insert>
    <select id="selectByOneField" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM "sys_component"
        <if test ='null != fieldName'>where ${fieldName} = #{fieldValue}</if>
    </select>

</mapper>