<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supermap.gaf.portal.menu.dao.ThemeDao">

    <select id="queryTheme" parameterType="java.lang.String" resultType="com.supermap.gaf.portal.menu.commontypes.ThemeInfo">
	    SELECT * FROM themes WHERE "user"=#{user}
	</select>

    <insert id="addTheme" parameterType="com.supermap.gaf.portal.menu.commontypes.ThemeInfo">
<!--         <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String"> -->
<!--             SELECT UUID() -->
<!--         </selectKey> -->
        INSERT INTO themes("id","color","multipleTabs","user")
        VALUES(#{id},#{color},#{multipleTabs},#{user})
    </insert>

    <update id="updateTheme" parameterType="com.supermap.gaf.portal.menu.commontypes.ThemeInfo">
	    UPDATE themes SET "color"=#{color},"multipleTabs"=#{multipleTabs},"user"=#{user} WHERE "id"=#{id}
	</update>

</mapper>