:root {
  --theme-color: #545c64;
  --active-color: #ffd04b;
}
.ant-layout-sider,
.ant-layout-header,
.ant-menu-dark, .ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--theme-color);
}
.sub-navs-container .ant-menu-item > a {
  color: #ffffff;
}
.sub-navs-container .ant-menu-item > a.nuxt-link-active {
  color: var(--active-color);
}