<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supermap.gaf.storage.dao.SpaceMapper">
    <resultMap id="BaseResultMap" type="com.supermap.gaf.storage.entity.Space">
        <result column="target_type" jdbcType="CHAR" property="targetType" />
        <result column="target" jdbcType="VARCHAR" property="target" />
        <result column="storage_name" jdbcType="VARCHAR" property="storageName" />
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_space_id" jdbcType="VARCHAR" property="parentSpaceId" />
        <result column="created_type" jdbcType="CHAR" property="createdType" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="total_size" jdbcType="BIGINT" property="totalSize" />
    </resultMap>

    <sql id="Base_Column_List">
        target_type,
        target,
        storage_name,
        id,
        name,
        parent_space_id,
        created_type,
        description,
        total_size,
        created_time,
        updated_time    </sql>

    <select id="selectSpaceConfig" resultType="com.supermap.gaf.storage.entity.SpaceConfig">
        SELECT
        s.access_key,
        s.secret_key,
        s.service_endpoint,
        sp.id,
        sp.name,
        sp.storage_name AS bucket_name,
        sp.total_size,
        sp.created_time,
        sp.updated_time
        FROM
        "storage_space" sp
        JOIN "storage_s3_server" s ON sp.parent_space_id	= s.id
        <trim prefix="WHERE" suffixOverrides="AND">
            sp.created_type = 'C' AND
            <if test='target != null'>sp.target = #{target} AND </if>
            <if test='targetType != null'>sp.target_type = #{targetType} AND </if>
            <if test='bucketName != null'>sp.storage_name = #{bucketName} AND </if>
            <if test='id != null'>sp.id = #{id} AND </if>
            <if test='name != null'>sp.name = #{name} AND </if>
            <if test='parentSpaceId != null'>sp.parent_space_id = #{parentSpaceId} AND </if>
            <if test='description != null'>sp.description = #{description} AND </if>
            <if test='totalSize != null'>sp.total_size = #{totalSize} AND </if>
            <if test='accessKey != null'>s.access_key = #{accessKey} AND </if>
            <if test='secretKey != null'>s.secret_key = #{secretKey} AND </if>
            <if test='serviceEndpoint != null'>s.service_endpoint = #{serviceEndpoint} AND </if>
            <if test ='null != equalFieldName'>${equalFieldName}
                <choose>
                    <when test="equalFieldValue != null"> = #{equalFieldValue} </when>
                    <otherwise>  is null </otherwise>
                </choose>
                AND
            </if>
            <if test ='null != searchFieldName and null != searchFieldValue'>${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%')  AND </if>
        </trim>
        <if test ='null != orderFieldName'>order by ${orderFieldName} <if test ='null != orderMethod'> ${orderMethod}</if></if>
    </select>

    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "storage_space"
        WHERE id = #{id}
    </select>
    <select id="selectByIdAndTargetType" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "storage_space"
        WHERE id = #{id} and target_type = #{targetType}
    </select>
    <select id="selectByIdsAndTargetTypeAndTargetId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM "storage_space"
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach> and target_type = #{targetType} and target = #{targetId}
    </select>
	<select id="selectList" resultMap="BaseResultMap" >
        SELECT <include refid="Base_Column_List" />
        FROM "storage_space"
        <trim prefix="WHERE" suffixOverrides="AND">
                <if test='targetType != null'>target_type = #{targetType} AND </if>
                <if test='target != null'>target = #{target} AND </if>
                <if test='storageName != null'>storage_name = #{storageName} AND </if>
                <if test='id != null'>id = #{id} AND </if>
                <if test='name != null'>name = #{name} AND </if>
                <if test='parentSpaceId != null'>parent_space_id = #{parentSpaceId} AND </if>
                <if test='createdType != null'>created_type = #{createdType} AND </if>
                <if test='description != null'>description = #{description} AND </if>
                <if test='totalSize != null'>total_size = #{totalSize} AND </if>
                <if test ='null != equalFieldName'>${equalFieldName}
                    <choose>
                        <when test="equalFieldValue != null"> = #{equalFieldValue} </when>
                        <otherwise>  is null </otherwise>
                    </choose>
                    AND
                </if>
                <if test ='null != searchFieldName and null != searchFieldValue'>${searchFieldName} LIKE CONCAT('%', #{searchFieldValue}, '%')  AND </if>
           </trim>
        <if test ='null != orderFieldName'>order by ${orderFieldName} <if test ='null != orderMethod'> ${orderMethod}</if></if>
    </select>
    <insert id="insert" useGeneratedKeys="false" keyColumn="id" keyProperty="id" parameterType="com.supermap.gaf.storage.entity.Space">
        INSERT INTO "storage_space"
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test ='null != targetType'>target_type,</if>
			<if test ='null != target'>target,</if>
			<if test ='null != storageName'>storage_name,</if>
			<if test ='null != id'>id,</if>
            <if test ='null != id'>name,</if>
			<if test ='null != parentSpaceId'>parent_space_id,</if>
			<if test ='null != createdType'>created_type,</if>
			<if test ='null != description'>description,</if>
			<if test ='null != totalSize'>total_size,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test ='null != targetType'>#{targetType},</if>
			<if test ='null != target'>#{target},</if>
			<if test ='null != storageName'>#{storageName},</if>
			<if test ='null != id'>#{id},</if>
            <if test ='null != id'>#{name},</if>
			<if test ='null != parentSpaceId'>#{parentSpaceId},</if>
			<if test ='null != createdType'>#{createdType},</if>
			<if test ='null != description'>#{description},</if>
			<if test ='null != totalSize'>#{totalSize},</if>
        </trim>
    </insert>
	<insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO "storage_space"(<include refid="Base_Column_List" />) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (  #{item.targetType}  ,  #{item.target}  ,  #{item.storageName}  ,  #{item.id}  , #{item.name}  , #{item.parentSpaceId}  ,  #{item.createdType}  ,  #{item.description}  ,  #{item.totalSize}  )
        </foreach>
    </insert>
	<delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM "storage_space"
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="batchDeleteByIdsAndTargetType" parameterType="java.util.List">
        DELETE FROM "storage_space"
        WHERE target_type = #{targetType} and id IN
        <foreach collection="list" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
	<delete id="delete" >
        DELETE FROM "storage_space"
        WHERE id = #{id}
    </delete>
    <delete id="deleteByIdAndTargetType" >
        DELETE FROM "storage_space"
        WHERE id = #{id} and target_type = #{targetType}
    </delete>
    <update id="update" parameterType="com.supermap.gaf.storage.entity.Space">
        UPDATE "storage_space"
        <set>
			<if test ='null != targetType'>target_type = #{targetType},</if>				
			<if test ='null != target'>target = #{target},</if>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != storageName'>storage_name = #{storageName},</if>
			<if test ='null != parentSpaceId'>parent_space_id = #{parentSpaceId},</if>				
			<if test ='null != createdType'>created_type = #{createdType},</if>
			<if test ='null != description'>description = #{description},</if>				
			<if test ='null != totalSize'>total_size = #{totalSize},</if>
            updated_time = now(),
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateByIdAndTargetType" parameterType="com.supermap.gaf.storage.entity.Space">
        UPDATE "storage_space"
        <set>
            <if test ='null != targetType'>target_type = #{targetType},</if>
            <if test ='null != target'>target = #{target},</if>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != storageName'>storage_name = #{storageName},</if>
            <if test ='null != parentSpaceId'>parent_space_id = #{parentSpaceId},</if>
            <if test ='null != createdType'>created_type = #{createdType},</if>
            <if test ='null != description'>description = #{description},</if>
            <if test ='null != totalSize'>total_size = #{totalSize},</if>
            updated_time = now(),
        </set>
        WHERE id = #{id} and target_type = #{targetType}
    </update>

</mapper>